
@model UniWeb.Entities.Entity.Entity.University.University


<div class="col">
    <div class="cards__container">
        <div class="car__container" style="background-image: url(@Url.Content("~/unistorage/"+Model.Id+"/"+Model.PreviewImageName))">
            <a asp-action="Details" asp-controller="Universities" asp-route-id="@Model.Id">
                <div class="container__content">
                    <div class="additional__information__container">
                        <div class="programs__block">
                            <i>@Model.NumbersOfPrograms программы</i>
                        </div>
                    </div>

                    <div class="header__content__container">
                        <p class="mb-2">@Model.UniversityType / Бюджет</p>
                        <h5>@Model.Name</h5>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>
    

